body {
  
  

  font-size: 20px;

  font-family: 'Roboto', sans-serif;

}

a{
  color: #000;
  text-decoration: none;

}

a:hover{
 text-decoration: underline;

}









.robot{
  width: 400px;
  border-radius: 20px;
  
}


.nonstop{
  margin: auto;

}



.social{
  background: gray;
  padding: 11px 18px;
  margin-bottom: 19px;
  border-radius: 13px;
}



.bg-alhpa {
  background: gray;
}


.bg-alhpa2 {
  background: gray;
}







.qwerty{
  padding: 15px 18px;
  margin-bottom: 25px;
  border-radius: 13px;
}








.stats{
  background: gray;
  padding: 15px 18px;
  margin-bottom: 25px;
  border-radius: 13px;

}