body{
    font-family: 'Roboto', sans-serif;


}


.news{
    background: gray;
    padding: 15px 18px;
    margin-bottom: 25px;
    border-radius: 13px;



}

.left{

 margin-right: 5cm;


}










